html,body{
  background-image: url("/Images/HomeBackgroundImage2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Navbar styles -----------------------*/
@media(min-width: 1280px){
.Navbar {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.Navbar #myLinks {
  display: flex;
  flex-direction:row;
}

.Navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  transition-property:color;
  transition-duration: .5s;
}

.Navbar a.icon {
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.Navbar a:hover {
  background-color: #ddd;
  font-weight:bold;
  color: 40916c;
}

.active {
  color: white;
}
}
/* ------------------------------------ */
 /* Create media queries for the navbar */
 @media (max-width: 1280px) {
  .Navbar {
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .Navbar #myLinks {
    display: none;
  }

  .Navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition-property:color;
    transition-duration: .5s;
  }

  .Navbar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .Navbar a:hover {
    background-color: #ddd;
    font-weight:bold;
    color: 40916c;
  }

  .active {
    color: white;
  }
 }
 /* ------------------------------------*/

.BodyContent{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.IntroContent{
  opacity: 75%;
  border-radius: 9%;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.Intro{
  height: 50%;
  bottom: 0%;
  margin: 0;
  color: white;
  text-align: center;
}
.IntroName{
  margin: 0;
  color: white;
  text-align: center;
}

/* Footer styles */
footer{
  background-color: #333;
  height: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

footer > div > a {
  color: #ddd;
}


.carousel-inner{
  text-align: center;
}
.carousel-item{
  font-weight: bold;
  font-size: larger;
}

/* About page Styles */
.AboutBodyContent{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.AboutBio{
  /* border: 2px solid red; */
  text-align: center;
  color:white;
  height: 80%;
  width: 90%;
}

.AboutBioContent{
  /* border: 2px solid red; */
  text-align: left;
  background-color:#333;
  display: flex;
  flex-direction: column;
  margin: 6em 10em 0 0.5em;
  padding: 10px 5px 5px 10px;
  height:75%;
}

/* projects & Resume styles */
.ProjectsAccordian, .ResumeAccordian{
  height: 65%;
  width: fit-content;
  margin: 0 1em 0 1em;
}

.accordion {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 5px;
  margin-bottom: 5px;
}

.accordion:hover {
  background-color: #444;
}

.panel {
  color:white;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Contact styles */

/* Test code start */
.ContactContent{
  border: 2px solid red;
  /* margin: 1em; */
  height:fit-content;
  width:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Test code end */
.IconContainer, .Info{
  margin: 10px;
  color:white;
}

.GenInput{
  display: flex;
  flex-direction: column;
  justify-content: left;
  border:2px solid orange;
}

.userMessage{
  height: 125px;
}

.RotateBodyContent{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  Height: 80%;
}

/* change flex-direction to row for bigger screens */
.ContactForm{
  border: 2px solid red;
  width:70%;
  height: 60%;
  display: flex;
  flex-direction: column;
}